<a href="https://colab.research.google.com/github/beyzabalaban/BLM5225_Chp24_Proje_Odevi/blob/main/BLM5225_Chp24_Proje_Odevi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
cur = conn.cursor()
print("Opened database successfully");

conn.execute('''
CREATE TABLE IF NOT EXISTS Seferler(
                      ukn INTEGER not null,
                      bn VARCHAR not null,
                      bin VARCHAR not null,
                      tarih VARCHAR not null,
                      saat VARCHAR NULL,
                      PRIMARY KEY (tarih,ukn),
                      FOREIGN KEY (ukn) references Ucaklar(ukn)


);''')

conn.commit()

print("Seferler Table Created");


conn.execute('''
CREATE TABLE IF NOT EXISTS Ucaklar(
  ukn INTEGER NOT NULL,
  umodel VARCHAR NULL,
  ukapasite VARCHAR NULL,
  PRIMARY KEY (ukn)
);
''')

conn.commit()

print("Ucaklar Table Created");

conn.execute('''
CREATE TABLE IF NOT EXISTS Yolcu(
  tckn INTEGER NOT NULL,
  isim VARCHAR  NULL,
  adres VARCHAR NULL,
  eposta varchar NULL,
  PRIMARY KEY (tckn)
);
''')

conn.commit()

print("Yolcu Table Created");

conn.execute('''
CREATE TABLE IF NOT EXISTS Yolcular(
  tckn INTEGER NOT NULL,
  tarih VARCHAR NOT NULL,
  ukn NOT NULL,
  bn VARCHAR NOT NULL,
  bin VARCHAR NOT NULL,
  PRIMARY KEY (tckn, ukn, tarih, bn, bin),
  FOREIGN KEY (ukn) references Seferler(ukn)
);
''')

conn.commit()

Opened database successfully
Seferler Table Created
Ucaklar Table Created
Yolcu Table Created

In [ ]:
conn.execute("INSERT INTO Seferler(ukn, bn, bin, tarih, saat) VALUES(111, 'istanbul', 'ankara', '210517','800');")
conn.execute("INSERT INTO Seferler(ukn, bn, bin, tarih, saat) VALUES(112, 'ankara', 'izmir', '210517','900');")
conn.execute("INSERT INTO Seferler(ukn, bn, bin, tarih, saat) VALUES(113, 'eskisehir', 'fethiye', '210517','1000');")
conn.commit()

def get_posts():
    with conn:
        cur.execute("SELECT * FROM Seferler")
        print(cur.fetchall())

get_posts()

[(111, 'istanbul', 'ankara', '210517', '800'), (112, 'ankara', 'izmir', '210517', '900'), (113, 'eskisehir', 'fethiye', '210517', '1000')]

In [ ]:
conn.execute("INSERT INTO Ucaklar(ukn, umodel, ukapasite) VALUES(111,'airbus', 200);")
conn.execute("INSERT INTO Ucaklar(ukn, umodel, ukapasite) VALUES(112, 'boeing', '750');")
conn.execute("INSERT INTO Ucaklar(ukn, umodel, ukapasite) VALUES(113, 'jet', '500');")
conn.commit()

def get_posts():
    with conn:
        cur.execute("SELECT * FROM Ucaklar")
        print(cur.fetchall())

get_posts()

[(111, 'airbus', '200'), (112, 'boeing', '750'), (113, 'jet', '500')]

In [ ]:
conn.execute("INSERT INTO Yolcu(tckn, isim, adres, eposta) VALUES(26,'beyza', 'eskisehir', 'xxxx');")
conn.execute("INSERT INTO Yolcu(tckn, isim, adres, eposta) VALUES(07,'serap', 'bursa', 'yyyy');")
conn.execute("INSERT INTO Yolcu(tckn, isim, adres, eposta) VALUES(01,'yasemin', 'adana', 'zzzz');")
conn.commit()

def get_posts():
    with conn:
        cur.execute("SELECT * FROM Yolcu")
        print(cur.fetchall())

get_posts()

[(1, 'yasemin', 'adana', 'zzzz'), (7, 'serap', 'bursa', 'yyyy'), (26, 'beyza', 'eskisehir', 'xxxx')]

In [ ]:
conn.execute("INSERT INTO Yolcular(tckn, tarih, ukn, bn, bin) VALUES(26,'210517',111, 'istanbul', 'ankara');")
conn.execute("INSERT INTO Yolcular(tckn, tarih, ukn, bn, bin) VALUES(07,'210517',112, 'ankara', 'izmir');")
conn.execute("INSERT INTO Yolcular(tckn, tarih, ukn, bn, bin) VALUES(01,'210517',113, 'eskisehir', 'fethiye');")
conn.commit()

def get_posts():
    with conn:
        cur.execute("SELECT * FROM Yolcular")
        print(cur.fetchall())

get_posts()

[(26, '210517', 111, 'istanbul', 'ankara'), (7, '210517', 112, 'ankara', 'izmir'), (1, '210517', 113, 'eskisehir', 'fethiye')]